# Ambientes virtuais (muito pesados)
venv/
env/
.env

# Arquivos temporários do Python
__pycache__/
*.py[cod]

# Streamlit e configurações locais
.streamlit/config.toml
secrets.toml

# Bancos de dados locais e Logs
*.db
*.sqlite3
*.log

# Pastas de IDEs
.vscode/
.idea/